In [7]:
import pandas as pd
import sys

In [15]:
sys.path.insert(1, '../')

In [29]:
df = pd.read_parquet('processing/readmission_data_ccsr_')

In [30]:
df

,subject_id,label,icd_code,ccsr,age,alcohol_abuse,tobacco_abuse,ndc,hadm_id,gender
0,10008245,[0],"[[S32391A, E870, F72, G40909, R509, J45909, M8...","[[INJ003, END011, MBD014, NVS009, SYM002, RSP0...",[47.0],[0],[0],"[[69543013120, 904645561, 54482014407, 6655300...",[26674944],M
1,10031358,"[0, 0, 0, 0, 0, 0]","[[E11618, M86179, I96, E871, L97509, N179, E11...","[[END003, MUS002, CIR028, END011, SKN004, GEN0...","[62.0, 63.0, 64.0, 64.0, 65.0, 65.0]","[1, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[[63323026201, 71015892, 51079045420, 74706811...","[27421511, 28279098, 24522342, 29498981, 29887...",M
2,10034667,[0],"[[O134, K5090, O7581, O631, O76, O701, Z3A38, ...","[[CIR008, DIG011, PRG023, PRG024, PRG023, PRG0...",[37.0],[0],[0],"[[904198861, 63029850401, 61553073503, 1152372...",[27995369],F
3,10034933,"[0, 0]","[[C7951, G9519, I639, C228, C792, E871, R29702...","[[NEO070, NVS020, CIR020, NEO017, NEO070, END0...","[63.0, 63.0]","[0, 0]","[0, 0]","[[60569049501, 68084019801, 63323010605, 11523...","[29594531, 28591708]",M
4,10040737,"[0, 0]","[[K562, I10, K219, E7439, F419, E039], [S82851...","[[DIG012, CIR007, DIG004, END016, MBD005, END0...","[51.0, 57.0]","[0, 0]","[0, 0]","[[78112001103, 60793011601, 63323026201, 90456...","[26871570, 20352299]",F
...,...,...,...,...,...,...,...,...,...,...
170291,19926754,[0],"[[K812, K828, D696]]","[[DIG017, DIG017, BLD006]]",[40.0],[0],[0],"[[71101441, 409128331, 904198261, 43825010201,...",[23426746],F
170292,19961925,"[0, 0, 0]","[[G061, B20, Q211, F329, G939, R4182, M47812, ...","[[NVS014, INF006, MAL001, MBD002, NVS020, SYM0...","[46.0, 47.0, 48.0]","[0, 0, 0]","[0, 0, 0]","[[6473900, 63481068706, 59762501601, 625840897...","[20139648, 25038426, 21099120]",M
170293,19969737,"[1, 0]","[[G8929, M545, N94819, M4806, M810, K219, Z66,...","[[NVS019, MUS038, GEN025, MUS011, MUS013, DIG0...","[84.0, 84.0]","[0, 0]","[0, 0]","[[378911916, 49281041550, 68084003201, 9042244...","[22907047, 24259455]",F
170294,19973053,"[0, 0]","[[K219, I10, E784, F17200], [A088, K522, R250,...","[[DIG004, CIR007, END010, MBD024], [DIG001, DI...","[60.0, 63.0]","[0, 1]","[1, 0]","[[63323026201, 58177032304, 63739002401, 80841...","[26658221, 24497535]",M
170295,19980206,[0],[[K3580]],[[DIG009]],[20.0],[0],[0],"[[63323026201, 338011704, 406055262, 904198861]]",[28449052],M

In [32]:
uniquepats = df['subject_id'].unique().tolist()

In [37]:
pathtomimcadms= r'D:\skolaÅr5\MasterThesis\mimic-iv-1.0\core\admissions.csv'

In [38]:
dfadms = pd.read_csv(pathtomimcadms)

In [47]:
dfadms.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag
0,14679932,21038362,2139-09-26 14:16:00,2139-09-28 11:30:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,SINGLE,UNKNOWN,NaN,NaN,0
1,15585972,24941086,2123-10-07 23:56:00,2123-10-12 11:22:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,WHITE,NaN,NaN,0
2,11989120,21965160,2147-01-14 09:00:00,2147-01-17 14:25:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,UNKNOWN,NaN,NaN,0
3,17817079,24709883,2165-12-27 17:33:00,2165-12-31 21:18:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,OTHER,NaN,NaN,0
4,15078341,23272159,2122-08-28 08:48:00,2122-08-30 12:32:00,NaN,ELECTIVE,NaN,HOME,Other,ENGLISH,NaN,BLACK/AFRICAN AMERICAN,NaN,NaN,0

In [51]:
dfadms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523740 entries, 0 to 523739
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            523740 non-null  int64
 1   hadm_id               523740 non-null  int64
 2   admittime             523740 non-null  object
 3   dischtime             523740 non-null  object
 4   deathtime             9337 non-null    object
 5   admission_type        523740 non-null  object
 6   admission_location    463305 non-null  object
 7   discharge_location    397083 non-null  object
 8   insurance             523740 non-null  object
 9   language              523740 non-null  object
 10  marital_status        457633 non-null  object
 11  ethnicity             523740 non-null  object
 12  edregtime             311504 non-null  object
 13  edouttime             311504 non-null  object
 14  hospital_expire_flag  523740 non-null  int64
dtypes: int64(3), object(12)
memory usage: 59.9+ MB

In [ ]:
def yolo(patient):
    patientdf = dfadms[dfadms['subject_id'] == patient].sort_values(by=['admittime'])
    
    admissiontypes = patientdf['admission_type'].tolist()
    
    return admissiontypes

In [49]:
df['amdtypes'] = df['subject_id'].apply(lambda x: yolo(x))

In [53]:
df.to_parquet('data_with_admtype.parquet')