In [1]:
from patient_extraction import *

In [2]:
parent_path = 'D:\skolaÅr5\MasterThesis\mimic-iv-1.0'

In [3]:
df = PatientProcessor(parent_path)

In [4]:
data = df.getData()

In [5]:
data.show()

+----------+--------------------+--------------------+
|subject_id|            icd_code|                 age|
+----------+--------------------+--------------------+
|  10028314|[Z3800, P2912, Z2...|[0, 0, 0, 0, 0, 0...|
|  10052351|[R0789, F10129, SEP]|        [56, 56, 56]|
|  10092012|[Z051, Z23, Z3800...|        [0, 0, 0, 0]|
|  10092020|[Z87891, Z8546, Z...|[69, 69, 69, 69, ...|
|  10126895|[Z30430, O80, Z3A...|[24, 24, 24, 24, 24]|
|  10145339|[P551, SEP, Z3800...|     [0, 0, 0, 0, 0]|
|  10150136|[D72829, R0682, K...|[61, 61, 61, 61, ...|
|  10188507|[P590, SEP, Z3800...|[0, 0, 0, 0, 0, 0...|
|  10229726|[I959, D150, R471...|[63, 63, 63, 63, ...|
|  10236661|[A047, B961, N390...|[79, 79, 79, 79, ...|
|  10246179|[Z915, F411, R458...|[20, 20, 20, 20, ...|
|  10249110|[R109, D649, D695...|[51, 51, 51, 51, ...|
|  10266640|[Z3800, Z051, Q65...|     [0, 0, 0, 0, 0]|
|  10275889|[Z23, Z3801, P030...|        [0, 0, 0, 0]|
|  10296904|[Z390, SEP, O701,...|[28, 28, 28, 28, ...|
|  10301630|[F17290, E785, I2...|[57, 57, 57, 57, ...|
|  10302680|[D62, I8510, Z854...|[48, 48, 48, 48, ...|
|  10365752|[Z7902, R0789, E8...|[59, 59, 59, 59, ...|
|  10367068|[B600, I10, D598,...|[48, 48, 48, 48, 48]|
|  10377202|    [Z590, R51, SEP]|        [40, 40, 40]|
+----------+--------------------+--------------------+
only showing top 20 rows

In [6]:
data.coalesce(1).write.parquet("dataframe.parquet")

In [7]:
import pandas as pd

In [9]:
pd.read_parquet(r'C:\Users\Johan\Documents\Skola\MasterThesis\Master-thesis\pre-processing\dataframe.parquet')

,subject_id,icd_code,age
0,10028314,"[Z3800, P2912, Z23, Q620, Z051, Z412, P284, P9...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,10052351,"[R0789, F10129, SEP]","[56, 56, 56]"
2,10092012,"[Z051, Z23, Z3800, SEP]","[0, 0, 0, 0]"
3,10092020,"[Z87891, Z8546, Z7901, G4089, I4820, Z8673, E8...","[69, 69, 69, 69, 69, 69, 69, 69, 69]"
4,10126895,"[Z30430, O80, Z3A39, Z370, SEP]","[24, 24, 24, 24, 24]"
...,...,...,...
107699,19837828,"[Z3800, Z23, SEP]","[0, 0, 0]"
107700,19910693,"[I2510, D638, Z8619, J440, I739, I10, R0902, Z...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6..."
107701,19963063,"[O081, D62, Z3A01, O99011, K661, O00102, SEP]","[35, 35, 35, 35, 35, 35, 35]"
107702,19979982,"[Y92239, I70201, M109, Z006, N400, I120, I2510...","[83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 8..."
107703,19989437,"[I214, I25119, F17200, J9811, R0902, Z8249, J9...","[38, 38, 38, 38, 38, 38, 38, 38]"