In [1]:
from patient_extraction import PatientProcessor
import dask.dataframe as dd

In [2]:
parent_path = 'D:\skola√Ör5\MasterThesis\mimic-iv-1.0'.replace('\\', '/') 


patients_f = parent_path + '/core/patients.csv'
admission_f = parent_path + '/core/admissions.csv'
pat_diagnos = parent_path + '/hosp/diagnoses_icd.csv'
meaning_diagnos = parent_path + '/hosp/d_icd_diagnoses.csv'

In [3]:
config = {
        'id_age': patients_f, 
        'pat_adm':admission_f,
        'pat_diagnose_icd': pat_diagnos, 
        'diagnos_meaning': meaning_diagnos,
        }

In [4]:
PatientProcessor(parent_path, **config)#.write_data('test')

In [14]:
path = 'C:/Users/Johan/Documents/Skola/MasterThesis/Master-thesis/pre-processing/age_voc.npy'

In [15]:
import numpy as np

In [17]:
data = np.load(path)
data

array([31, 85, 65, 53, 78, 34, 81, 28, 76, 27, 26, 44, 91, 22, 47, 52, 86,
       40, 20, 57, 54, 48, 19, 64, 41, 43, 37, 61, 88, 72, 35, 55, 59, 23,
       39, 49, 84, 87, 51, 69, 63, 77, 50, 45, 38, 82, 80, 73, 25, 24, 70,
       62, 29, 21, 60, 32, 75, 56, 58, 33, 83, 68, 71, 42, 79, 30, 66, 46,
       67,  0, 18, 74, 36, 89])

In [5]:
path = 'C:/Users/Johan/Documents/Skola/MasterThesis/Master-thesis/pre-processing/combined-csv-files.csv'

In [10]:
path

'C:/Users/Johan/Documents/Skola/MasterThesis/Master-thesis/pre-processing/combined-csv-files.csv'

In [13]:
df = dd.read_csv(path, dtype={'subject_id': 'object'})

In [14]:
len(df)

107904

In [15]:
df.head()

,subject_id,icd_code,age
0,10028314,"Z3800,P2912,Z23,Q620,Z051,Z412,P284,P928,P590,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,SEP"
1,10052351,"R0789,F10129,SEP","56,56,SEP"
2,10092012,"Z051,Z23,Z3800,SEP","0,0,0,SEP"
3,10092020,"Z87891,Z8546,Z7901,G4089,I4820,Z8673,E872,M255...","69,69,69,69,69,69,69,69,SEP"
4,10126895,"Z30430,O80,Z3A39,Z370,SEP","24,24,24,24,SEP"

In [31]:
patients = {}

for patient_id in df['subject_id'].unique():
    patient_data = df[df['subject_id'] == patient_id]
    patient = []
    age = list(patient_data['age'])[0].split(',')#.split(',')
    icd_code = list(patient_data['icd_code'])[0].split(',')
        
   # print(age)
    #print(icd_code)
    adm_age = []
    for age_ in age:
        if age_ == 'SEP':
            patient.append(adm_age)
            adm_age = []
        else:
            adm_age.append(age_)
    patients[patient_id] = patient   
    
    break

In [32]:
patients

{'10028314': [['0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0']]}