text.replace("\\", "/")

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
spark

In [81]:
parent_path = 'D:/skolaÃ…r5/MasterThesis/mimic-iv-1.0/'

In [82]:
codes_icd_path = parent_path + '/hosp/diagnoses_icd.csv'
diagnose_codes_icd = spark.read.load(codes_icd_path, format="csv", sep=",", inferSchema="true", header="true")

In [83]:
diagnoses_codes_path = parent_path + '/hosp/d_icd_diagnoses.csv'
diagnoses_codes = spark.read.load(diagnoses_codes_path,  format="csv", sep=",", inferSchema="true", header="true").dropDuplicates()

In [84]:
#diagnose_codes_icd.select('subject_id').distinct().count()

In [85]:
patients_path = parent_path + '/core/patients.csv'
patients = spark.read.load(patients_path,  format="csv", sep=",", inferSchema="true", header="true")

In [86]:
admission_path = parent_path + '/core/admissions.csv'
admissions = spark.read.load(admission_path,  format="csv", sep=",", inferSchema="true", header="true")

In [87]:
#admissions.select('subject_id').distinct().count()

In [88]:
admissions_ = admissions.withColumnRenamed('subject_id', 'subject_id2')
patients_admissions = patients.join(admissions_, patients.subject_id == admissions_.subject_id2, 'inner').drop('subject_id2')

In [89]:
from pyspark.sql.functions import udf,col

In [90]:
diagnoses_codes_ = diagnoses_codes.withColumnRenamed('icd_code', 'code').withColumnRenamed('icd_version', 'version')

patients_diagnoses = diagnose_codes_icd.join(diagnoses_codes_, (diagnose_codes_icd.icd_code == diagnoses_codes_.code) & (diagnose_codes_icd.icd_version == diagnoses_codes_.version), "inner").drop('code', 'version')

In [91]:
patients_diagnoses = patients_diagnoses.withColumnRenamed('subject_id', 'sub2').withColumnRenamed('hadm_id', 'h_id')

In [92]:
final_data = patients_admissions.join(patients_diagnoses, ((patients_admissions.subject_id == patients_diagnoses.sub2) & (patients_admissions.hadm_id == patients_diagnoses.h_id)) , 'inner').drop('sub2', 'h_id')

In [93]:
final_data.show()

+----------+------+----------+-----------+-----------------+-------------------+--------+-------------------+-------------------+-------------------+-----------------+--------------------+------------------+---------+--------+--------------+---------+-------------------+-------------------+--------------------+-------+--------+-----------+--------------------+
|subject_id|gender|anchor_age|anchor_year|anchor_year_group|                dod| hadm_id|          admittime|          dischtime|          deathtime|   admission_type|  admission_location|discharge_location|insurance|language|marital_status|ethnicity|          edregtime|          edouttime|hospital_expire_flag|seq_num|icd_code|icd_version|          long_title|
+----------+------+----------+-----------+-----------------+-------------------+--------+-------------------+-------------------+-------------------+-----------------+--------------------+------------------+---------+--------+--------------+---------+-------------------+-------------------+--------------------+-------+--------+-----------+--------------------+
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      2|   I2582|         10|Chronic total occ...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      5|    I252|         10|Old myocardial in...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      1|    K611|         10|      Rectal abscess|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      4|   I2510|         10|Atherosclerotic h...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      3|    I509|         10|Heart failure, un...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      7|    Z951|         10|Presence of aorto...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      6|    Z950|         10|Presence of cardi...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      8|   Z8673|         10|Personal history ...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|     11|  F17210|         10|Nicotine dependen...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|      9|    E785|         10|Hyperlipidemia, u...|
|  10003637|     M|        57|       2145|      2014 - 2016|               null|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|               null|OBSERVATION ADMIT|      EMERGENCY ROOM|  HOME HEALTH CARE|    Other| ENGLISH|      DIVORCED|    OTHER|2146-01-22 11:12:00|2146-01-23 00:33:00|                   0|     10|    I255|         10|Ischemic cardiomy...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|      6|    I959|         10|Hypotension, unsp...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     24|    L570|         10|   Actinic keratosis|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|      4|   Z8674|         10|Personal history ...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     10|    Y848|         10|Other medical pro...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|      9|    D638|         10|Anemia in other c...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     28|   Z7902|         10|Long term (curren...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     20|    H269|         10|Unspecified cataract|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     16| S42291D|         10|Other displaced f...|
|  10004720|     M|        61|       2183|      2014 - 2016|2186-11-17 00:00:00|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|2186-11-17 18:30:00|         EW EMER.|INFORMATION NOT A...|              DIED| Medicare| ENGLISH|        SINGLE|    WHITE|2186-11-12 16:09:00|2186-11-12 19:55:00|                   1|     12|     Z66|         10|  Do not resuscitate|
+----------+------+----------+-----------+-----------------+-------------------+--------+-------------------+-------------------+-------------------+-----------------+--------------------+------------------+---------+--------+--------------+---------+-------------------+-------------------+--------------------+-------+--------+-----------+--------------------+
only showing top 20 rows

In [94]:
needed_columns = set(['subject_id', 'anchor_age', 'hadm_id', 'admittime', 'dischtime', 'icd_code', 'icd_version', 'long_title'])

In [95]:
columns_ = [c for c in final_data.columns if c not in needed_columns]

In [96]:
columns_

['gender',
 'anchor_year',
 'anchor_year_group',
 'dod',
 'deathtime',
 'admission_type',
 'admission_location',
 'discharge_location',
 'insurance',
 'language',
 'marital_status',
 'ethnicity',
 'edregtime',
 'edouttime',
 'hospital_expire_flag',
 'seq_num']

In [97]:
new = final_data.drop(*columns_).na.drop()

In [98]:
new.show()

+----------+----------+--------+-------------------+-------------------+--------+-----------+--------------------+
|subject_id|anchor_age| hadm_id|          admittime|          dischtime|icd_code|icd_version|          long_title|
+----------+----------+--------+-------------------+-------------------+--------+-----------+--------------------+
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|   I2582|         10|Chronic total occ...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    I252|         10|Old myocardial in...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    K611|         10|      Rectal abscess|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|   I2510|         10|Atherosclerotic h...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    I509|         10|Heart failure, un...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    Z951|         10|Presence of aorto...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    Z950|         10|Presence of cardi...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|   Z8673|         10|Personal history ...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|  F17210|         10|Nicotine dependen...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    E785|         10|Hyperlipidemia, u...|
|  10003637|        57|23487925|2146-01-22 23:08:00|2146-01-26 14:02:00|    I255|         10|Ischemic cardiomy...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|    I959|         10|Hypotension, unsp...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|    L570|         10|   Actinic keratosis|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|   Z8674|         10|Personal history ...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|    Y848|         10|Other medical pro...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|    D638|         10|Anemia in other c...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|   Z7902|         10|Long term (curren...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|    H269|         10|Unspecified cataract|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00| S42291D|         10|Other displaced f...|
|  10004720|        61|22081550|2186-11-12 18:01:00|2186-11-17 18:30:00|     Z66|         10|  Do not resuscitate|
+----------+----------+--------+-------------------+-------------------+--------+-----------+--------------------+
only showing top 20 rows

In [100]:
new1 = new.select('subject_id', 'anchor_age','hadm_id' ,'icd_code', 'icd_version').filter('icd_version == 10')

In [101]:
new1.show()

+----------+----------+--------+--------+-----------+
|subject_id|anchor_age| hadm_id|icd_code|icd_version|
+----------+----------+--------+--------+-----------+
|  10003637|        57|23487925|   I2582|         10|
|  10003637|        57|23487925|    I252|         10|
|  10003637|        57|23487925|    K611|         10|
|  10003637|        57|23487925|   I2510|         10|
|  10003637|        57|23487925|    I509|         10|
|  10003637|        57|23487925|    Z951|         10|
|  10003637|        57|23487925|    Z950|         10|
|  10003637|        57|23487925|   Z8673|         10|
|  10003637|        57|23487925|  F17210|         10|
|  10003637|        57|23487925|    E785|         10|
|  10003637|        57|23487925|    I255|         10|
|  10004720|        61|22081550|    I959|         10|
|  10004720|        61|22081550|    L570|         10|
|  10004720|        61|22081550|   Z8674|         10|
|  10004720|        61|22081550|    Y848|         10|
|  10004720|        61|22081550|    D638|         10|
|  10004720|        61|22081550|   Z7902|         10|
|  10004720|        61|22081550|    H269|         10|
|  10004720|        61|22081550| S42291D|         10|
|  10004720|        61|22081550|     Z66|         10|
+----------+----------+--------+--------+-----------+
only showing top 20 rows

# BEHRT

In [102]:
import pyspark.sql.functions as F
from pyspark.sql import Window

In [103]:
new2 = new1.groupby(['subject_id', 'hadm_id']).agg(F.collect_list('icd_code').alias('icd_code'), F.collect_list('anchor_age').alias('age'))

In [104]:
new2.show()

+----------+--------+--------------------+--------------------+
|subject_id| hadm_id|            icd_code|                 age|
+----------+--------+--------------------+--------------------+
|  10003637|23487925|[I2582, I252, K61...|[57, 57, 57, 57, ...|
|  10004720|22081550|[I959, L570, Z867...|[61, 61, 61, 61, ...|
|  10006457|23963539|[Z87891, I69351, ...|[57, 57, 57, 57, ...|
|  10022373|22567635|[G893, E039, R197...|[60, 60, 60, 60, ...|
|  10027100|28267047|[B1920, F19129, F...|        [46, 46, 46]|
|  10051043|26948064|[R42, I63542, I63...|[60, 60, 60, 60, ...|
|  10059041|22386234|[Z7902, I10, Z966...|[65, 65, 65, 65, ...|
|  10066102|21912366|[T18128A, K209, N...|[82, 82, 82, 82, ...|
|  10071930|29524322|        [Z23, Z3800]|              [0, 0]|
|  10122428|25017197|[I10, Z7902, M415...|[84, 84, 84, 84, ...|
|  10124189|23921797|[F17290, K8510, I...|[18, 18, 18, 18, 18]|
|  10124544|29966384|[K5790, F0280, G3...|[91, 91, 91, 91, ...|
|  10138124|21798709|[I2782, I201, Z79...|[68, 68, 68, 68, 68]|
|  10142339|24862655|[F1120, K7469, Z6...|[27, 27, 27, 27, ...|
|  10144359|22065166|[R740, Y929, E162...|[51, 51, 51, 51, ...|
|  10144872|26114999|[F419, C7931, Z68...|[52, 52, 52, 52, ...|
|  10145540|28792447|[K5090, K7290, D6...|[21, 21, 21, 21, ...|
|  10157454|27280709|[I5033, I313, N17...|[62, 62, 62, 62, ...|
|  10159049|21618714|[Z8673, Z7902, R4...|[83, 83, 83, 83, 83]|
|  10168722|25403630|[G936, A4150, I10...|[74, 74, 74, 74, ...|
+----------+--------+--------------------+--------------------+
only showing top 20 rows

In [105]:
new4 = new2.groupby(['subject_id']).agg(F.collect_list('icd_code').alias('icd_code'), F.collect_list('age').alias('age'))

In [109]:
new4.show()

+----------+--------------------+--------------------+
|subject_id|            icd_code|                 age|
+----------+--------------------+--------------------+
|  10028314|[[Z3800, P2912, Z...|[[0, 0, 0, 0, 0, ...|
|  10052351|   [[R0789, F10129]]|          [[56, 56]]|
|  10092012|[[Z051, Z23, Z3800]]|         [[0, 0, 0]]|
|  10092020|[[Z87891, Z8546, ...|[[69, 69, 69, 69,...|
|  10126895|[[Z30430, O80, Z3...|  [[24, 24, 24, 24]]|
|  10145339|[[Z3800, Z23], [P...|       [[0, 0], [0]]|
|  10150136|[[D72829, R0682, ...|[[61, 61, 61, 61,...|
|  10188507|[[P590], [Z3800, ...| [[0], [0, 0, 0, 0]]|
|  10229726|[[G7000, R7989, M...|[[63, 63, 63, 63,...|
|  10236661|[[K5730, F22, G40...|[[79, 79, 79, 79,...|
|  10246179|[[R45851, F17210,...|[[20, 20, 20, 20,...|
|  10249110|[[I8510, Z8673, E...|[[51, 51, 51, 51,...|
|  10266640|[[Z3800, Z051, Q6...|      [[0, 0, 0, 0]]|
|  10275889|[[Z23, Z3801, P030]]|         [[0, 0, 0]]|
|  10296904|[[Z390], [O701, E...|[[28], [28, 28, 2...|
|  10301630|[[F17290, E785, I...|[[57, 57, 57, 57,...|
|  10302680|[[Y92230, F17210,...|[[48, 48, 48, 48,...|
|  10365752|[[Z7902, R0789, E...|[[59, 59, 59, 59,...|
|  10367068|[[B600, I10, D598...|  [[48, 48, 48, 48]]|
|  10377202|       [[Z590, R51]]|          [[40, 40]]|
+----------+--------------------+--------------------+
only showing top 20 rows

### Test

In [ ]:
new2 = new1.groupby(['subject_id', 'hadm_id']).agg(F.collect_list('icd_code').alias('icd_code'), F.collect_list('anchor_age').alias('age'))

In [120]:
new3 = new2.withColumn("icd_code",F.concat(F.col('icd_code'), F.array(F.lit('SEP')))).withColumn('age', F.concat(F.col('age'), F.array(F.lit('SEP'))))

In [124]:
new4 = new3.withColumn('icd_code', F.concat_ws(",", F.col('icd_code')))
new4 = new4.withColumn('age', F.concat_ws(",", F.col('age')))

In [133]:
new5 = new4.groupby(['subject_id']).agg(F.collect_list('icd_code').alias('icd_code'), F.collect_list('age').alias('age'))\
.withColumn('icd_code', F.concat_ws(',', F.col('icd_code'))).withColumn('age', F.concat_ws(',', F.col('age')))

In [134]:
new5.show()

+----------+--------------------+--------------------+
|subject_id|            icd_code|                 age|
+----------+--------------------+--------------------+
|  10028314|Z3800,P2912,Z23,Q...|0,0,0,0,0,0,0,0,0...|
|  10052351|    R0789,F10129,SEP|           56,56,SEP|
|  10092012|  Z051,Z23,Z3800,SEP|           0,0,0,SEP|
|  10092020|Z87891,Z8546,Z790...|69,69,69,69,69,69...|
|  10126895|Z30430,O80,Z3A39,...|     24,24,24,24,SEP|
|  10145339|Z3800,Z23,SEP,P55...|       0,0,SEP,0,SEP|
|  10150136|D72829,R0682,K298...|61,61,61,61,61,61...|
|  10188507|P590,SEP,Z3800,P5...|   0,SEP,0,0,0,0,SEP|
|  10229726|G7000,R7989,M2137...|63,63,63,63,63,63...|
|  10236661|K5730,F22,G40209,...|79,79,79,79,79,79...|
|  10246179|R45851,F17210,F41...|20,20,20,20,20,SE...|
|  10249110|I8510,Z8673,E46,F...|51,51,51,51,51,51...|
|  10266640|Z3800,Z051,Q6502,...|         0,0,0,0,SEP|
|  10275889|  Z23,Z3801,P030,SEP|           0,0,0,SEP|
|  10296904|Z390,SEP,O701,E03...|28,SEP,28,28,28,2...|
|  10301630|F17290,E785,I2510...|57,57,57,57,57,57...|
|  10302680|Y92230,F17210,N18...|48,48,48,48,48,48...|
|  10365752|Z7902,R0789,E871,...|59,59,59,59,59,59...|
|  10367068|B600,I10,D598,R16...|     48,48,48,48,SEP|
|  10377202|        Z590,R51,SEP|           40,40,SEP|
+----------+--------------------+--------------------+
only showing top 20 rows

In [131]:
new4.filter('subject_id == 10367068').show()

+----------+--------+--------------------+---------------+
|subject_id| hadm_id|            icd_code|            age|
+----------+--------+--------------------+---------------+
|  10367068|29462361|B600,I10,D598,R16...|48,48,48,48,SEP|
+----------+--------+--------------------+---------------+

In [132]:
new5.filter('subject_id == 10145339').collect()

[Row(subject_id=10145339, icd_code=['Z3800,Z23,SEP', 'P551,SEP'], age=['0,0,SEP', '0,SEP'])]

In [121]:
new3.show()

+----------+--------+--------------------+--------------------+
|subject_id| hadm_id|            icd_code|                 age|
+----------+--------+--------------------+--------------------+
|  10003637|23487925|[I2582, I252, K61...|[57, 57, 57, 57, ...|
|  10004720|22081550|[I959, L570, Z867...|[61, 61, 61, 61, ...|
|  10006457|23963539|[Z87891, I69351, ...|[57, 57, 57, 57, ...|
|  10022373|22567635|[G893, E039, R197...|[60, 60, 60, 60, ...|
|  10027100|28267047|[B1920, F19129, F...|   [46, 46, 46, SEP]|
|  10051043|26948064|[R42, I63542, I63...|[60, 60, 60, 60, ...|
|  10059041|22386234|[Z7902, I10, Z966...|[65, 65, 65, 65, ...|
|  10066102|21912366|[T18128A, K209, N...|[82, 82, 82, 82, ...|
|  10071930|29524322|   [Z23, Z3800, SEP]|         [0, 0, SEP]|
|  10122428|25017197|[I10, Z7902, M415...|[84, 84, 84, 84, ...|
|  10124189|23921797|[F17290, K8510, I...|[18, 18, 18, 18, ...|
|  10124544|29966384|[K5790, F0280, G3...|[91, 91, 91, 91, ...|
|  10138124|21798709|[I2782, I201, Z79...|[68, 68, 68, 68, ...|
|  10142339|24862655|[F1120, K7469, Z6...|[27, 27, 27, 27, ...|
|  10144359|22065166|[R740, Y929, E162...|[51, 51, 51, 51, ...|
|  10144872|26114999|[F419, C7931, Z68...|[52, 52, 52, 52, ...|
|  10145540|28792447|[K5090, K7290, D6...|[21, 21, 21, 21, ...|
|  10157454|27280709|[I5033, I313, N17...|[62, 62, 62, 62, ...|
|  10159049|21618714|[Z8673, Z7902, R4...|[83, 83, 83, 83, ...|
|  10168722|25403630|[G936, A4150, I10...|[74, 74, 74, 74, ...|
+----------+--------+--------------------+--------------------+
only showing top 20 rows

In [107]:
new4.select('subject_id').count()

107704

In [135]:
dd = spark.read.load('dataset.csv',  format="csv", sep=",", inferSchema="true", header="true")

AnalysisException: 'Path does not exist: file:/C:/Users/Johan/Documents/Skola/MasterThesis/Master-thesis/pre-processing/dataset;'